---
import { Card, CardContent, CardDescription, CardFooter, CardHeader, CardTitle } from '@/components/ui/card';
import Layout from '@/layouts/Layout.astro';

import { type CollectionEntry, getCollection } from 'astro:content';

export async function getStaticPaths() {
	const products = await getCollection('products');
	return products.map((product) => ({
		params: { slug: product.slug },
		props: product,
	}));
}
type Props = CollectionEntry<'blog'>;

import { Button } from '@/components/ui/button';
import { Badge } from '@/components/ui/badge';

const product = Astro.props;
const { Content } = await product.render();
---

<Layout title="Product Gallery">
	<div class="mx-auto max-w-7xl pt-6">
		<div class="grid grid-cols-2">
			{product.data.heroImage &&
				<Card>				
					<div class="relative m-0 overflow-hidden text-gray-700 bg-transparent rounded-t-md shadow-md bg-clip-border">
						<img src={product.data.heroImage} alt={product.data.title} class="object-cover h-full"/>
					</div>	
				</Card>
			}
		<Card>			
			<CardHeader>
				<CardTitle>
					{product.data.title}
				</CardTitle>
				<CardDescription>
					{product.data.description}
				</CardDescription>
			</CardHeader>
			<CardContent>
				<div class="pt-6 space-y-3">
					{/* Add more content here if needed */}
					<div class="flex flex-wrap space-x-2">
						{product.data.tags.map((tag) => (
							<Badge variant="outline" className="lowercase">{tag}</Badge>
						))}
					</div>
				</div>
			</CardContent>			
			<CardFooter>
				<a href={`/products/${product.slug}/`}>
					<Button variant="secondary">View Product</Button>  
				</a>
			</CardFooter>
		</Card>
	</div>
</Layout>

