---
import { Card, CardContent, CardDescription, CardFooter, CardHeader, CardTitle } from '@/components/ui/card';
import Layout from '@/layouts/Layout.astro';

import { getCollection } from 'astro:content';
import { Button } from '@/components/ui/button';
const posts = (await getCollection('products')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout title="Product Gallery">
	<div class="p-6 grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
		{
			posts.map((product) => (
				<Card>
					{product.data.heroImage &&
						<div class="relative m-0 overflow-hidden text-gray-700 bg-transparent rounded-t-md shadow-none bg-clip-border">
							 <img src={product.data.heroImage} alt={product.data.title} class="object-cover h-48 w-96"/>
						</div>
					}
					<CardHeader>
						<CardTitle>
							{product.data.title}
						</CardTitle>
						<CardDescription>
							{product.data.description}
						</CardDescription>
					</CardHeader>
					<CardContent>
						<div class="pt-6 space-y-3">
							
						</div>
					</CardContent>
					<CardFooter>
						<a href={`/products/${product.slug}/`}>
							<Button variant="secondary">View Product</Button>	
						</a>
					</CardFooter>
				</Card>
			))
		}
	</div>
</Layout>
