---
import { Card, CardContent, CardDescription, CardFooter, CardHeader, CardTitle } from '@/components/ui/card';
import Layout from '@/layouts/Layout.astro';

import { getCollection } from 'astro:content';
import { Button } from '@/components/ui/button';
import { Badge } from '@/components/ui/badge';
const products = (await getCollection('products')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

function groupByCategory(products) {
  return products.reduce((acc, product) => {
    const category = product.data.category || 'Uncategorized';
    if (!acc[category]) {
      acc[category] = [];
    }
    acc[category].push(product);
    return acc;
  }, {});
}

const groupedProducts = groupByCategory(products);
---

<Layout title="Product Gallery">
	<div class="p-6 space-y-8">
		{Object.entries(groupedProducts).map(([category, products]) => (
		  <div>
			<p class="text-gray-600 text-center text-sm">Printable Category:</p>
			<h2 class="text-lg text-gray-700 text-center font-bold tracking-tighter uppercase mb-4">{category}</h2>
			<div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
			  {products.map((product) => (
				<Card key={product.slug}>
				  {product.data.heroImage &&
					<div class="relative m-0 overflow-hidden text-gray-700 bg-transparent rounded-t-md shadow-md bg-clip-border">
					  	<img src={product.data.heroImage} alt={product.data.title} class="object-cover h-48 w-96"/>
					  	<div class="absolute bottom-2 left-2">
							<div class="flex flex-wrap space-x-2">
								{product.data.tags.map((tag) => (
									<Badge className="lowercase mb-2" >{tag}</Badge>
								))}
							</div>
						</div>
					</div>
				  }
				  <CardHeader>
					<CardTitle>
					  {product.data.title}
					</CardTitle>
					<CardDescription>
					  {product.data.description}
					</CardDescription>
				  </CardHeader>
				  <CardContent>
					<div class="pt-6 space-y-3">
					  {/* Add more content here if needed */}
					   
					</div>
				  </CardContent>
				  <CardFooter>
					<a href={`/products/${product.slug}/`}>
					  <Button variant="secondary">View Product</Button>  
					</a>
				  </CardFooter>
				</Card>
			  ))}
			</div>
		  </div>
		))}
	</div>
</Layout>
